<div>
	<div class="button-wrapper">
		<button data-ng-key="1">1</button>
		<button data-ng-key="2">2</button>
		<button data-ng-key="3">3</button>
		<button data-ng-key="4">4</button>
		<button data-ng-key="5">5</button>
		<button data-ng-key="6">6</button>
		<button data-ng-key="7">7</button>
		<button data-ng-key="8">8</button>
		<button data-ng-key="9">9</button>


		<button data-ng-key="[CLEAR]" class="smaller">Clear</button>
		<button data-ng-key="0">0</button>
		<button data-ng-key=".">.</button>

		<button data-ng-key="[PREVIOUS]" class="button-wide smaller">Previous</button>
		<button data-ng-key="[NEXT]" class="button-wide smaller">Next</button>
	</div>
	<div class="drag-indicator">
		<span></span>
		<span></span>
		<span></span>
	</div>

	<button class="close" data-ng-click="close()"></button>
</div>